/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  border-radius: 10px;
  width: 700px;
  height: 700px;
  background: #33373E;
}

.main-content {
  padding: 50px;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  font-size: 1.5rem;
  padding: 10px 20px;
}

li::before {
  position: absolute;
  left: -10px;
  top: 17px;
  content: '';
  width: 15px;
  height: 15px;
  background: #61DAFB;

  border-radius: 10px;
}

nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  background: #21222A;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.logo-text {
  color: #61DAFB;
  font-size: 36px;
}

h5 {
  font-size: 1.25rem;
}
